@use '../globals' as *;

.feature {
  @media (width >= 768px) {
    text-align: left;
  }

  &__logo {
    margin-bottom: $spacing-500;
  }
  &__title {
    @include text-style(
      $fs-400,
      $weight-light,
      $line-height-1,
      $letter-spacing-2,
      $title-color
    );
    margin-bottom: $spacing-300;
  }

  &__description {
    @include text-style(
      $fs-100,
      $weight-regular,
      $line-height-1,
      $letter-spacing-0
    );
    @media (width >= 768px) {
      @include text-style($fs-200, $line-height-2, $letter-spacing-1);
    }
  }
}
