@use '../globals' as *;

.footer {
  @include grid($place-items: center);
  padding-block: $spacing-700;
  background-color: $footer-bg-color;
  color: $footer-text-color;

  @media (width > 1200px) {
    padding-block: $spacing-600;
  }

  &__wrapper {
    max-width: 1100px;
    width: 100%;
    @include flex($direction: column, $gap: $spacing-400);
    text-align: center;

    @media (width > 1200px) {
      @include flex(
        $direction: row,
        $justify: space-between,
        $align: flex-start
      ); // ovdje pogledati o gap, zasad bez
      text-align: left;
    }
  }

  &__logo-social__column {
    @include flex($direction: column, $gap: $spacing-400);
    @media (width > 1200px) {
      @include flex($direction: column, $gap: $spacing-700);

      flex: 0 0 auto;
    }
  }

  &__button-copyright__column {
    @include flex($direction: column, $align: center, $gap: $spacing-300);
    @media (width > 1200px) {
      @include flex($direction: column, $align: end);
      flex: 0 0 auto;
    }
  }
}
