@use '../globals' as *;

.header {
  @include flex(row, space-between, center);
  padding: $spacing-250 $spacing-300;
  background-color: $header-bg-color;

  .navigation__button {
    line-height: $line-height-0;
  }

  @media (width >= 768px) {
    padding: $spacing-250 $spacing-1000;
  }
  @media (width >= 1440px) {
    padding: 18px 165px;
  }
}
